[submodule "singleton-paymaster"]
	path = singleton-paymaster
	url = https://github.com/pimlicolabs/singleton-paymaster.git
	ignore = dirty
[submodule "contracts/lib/chainlink-brownie-contracts"]
	path = contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
	ignore = dirty
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady.git
