[submodule "ultra-relay"]
	path = ultra-relay
	url = https://github.com/zerodevapp/ultra-relay
[submodule "bundler"]
	path = bundler
	url = git@github.com:eth-infinitism/bundler.git
[submodule "rundler"]
	path = rundler
	url = git@github.com:alchemyplatform/rundler.git
[submodule "SuperPaymaster-Contract"]
	path = SuperPaymaster-Contract
	url = git@github.com:AAStarCommunity/SuperPaymaster-Contract.git
